<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.AdminDiscountMapper">

    <!-- 插入批量折扣数据 -->
    <insert id="insertBatch">
        insert into discount (name, count, iszy, starttime, endtime, status, create_time, update_time)
        values (#{name}, #{count}, #{iszy}, #{starttime}, #{endtime}, #{status}, #{createTime}, #{updateTime})
    </insert>

<!--更新数据表-->
    <update id="updateDiscount" parameterType="com.sky.entity.Discount">
        UPDATE discount
        SET
            name = #{name},
            count = #{count},
            iszy = #{iszy},
            starttime = #{starttime},
            endtime = #{endtime},
            status = #{status},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>


    <!-- 根据id删除折扣数据 -->
    <delete id="deleteById">
        delete
        from discount
        where id = #{id};
    </delete>

    <!-- 根据id查询折扣数据 -->
    <select id="getById" resultType="com.sky.entity.Discount">
        select *
        from discount
        where id = #{id};
    </select>


    <select id="getAll" resultType="com.sky.entity.Discount">
        select *
        from discount
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
        order by id asc
    </select>

<!--判断当前登录用户是不是专员-->
    <select id="getZyStatusById" resultType="java.lang.Integer">
        SELECT zystatus FROM user WHERE id = #{userId}
    </select>


<!--    根据优惠券是否专属类型查询-->
    <select id="getValidDiscounts" resultType="com.sky.entity.Discount">
        SELECT * FROM discount
        <where>
            status = 1
            AND endtime > #{now}

            <if test="onlyIszy != null">
                AND iszy = #{onlyIszy}
            </if>

            <if test="includeIszy != null">
                AND iszy IN (0, 1)
            </if>
        </where>
        ORDER BY id ASC
    </select>



</mapper>
